site_name: Legacy VB Wiki
theme:
  name: material
  font:
    text: IBM Plex Sans
    code: IBM Plex Mono
  features:
    - navigation.expand
    - navigation.sections
    - navigation.tabs
    - navigation.top
    - search.highlight
    - search.suggest
    - search.share
    - content.code.copy
    - toc.follow
extra_css:
  - stylesheets/legacy-theme.css
extra_javascript:
  - https://unpkg.com/mermaid@10/dist/mermaid.min.js
  - javascripts/mermaid-init.js
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
nav:
  - Home: index.md
  - Projects:
      - PD_Update_Generator: PD_Update_Generator.md
      - PD_Update_Patcher: PD_Update_Patcher.md
      - PhotoDemon: PhotoDemon.md
      - PhotoDemon_i18n: PhotoDemon_i18n.md
      - VBP_SearchAndReplace: VBP_SearchAndReplace.md
  - Dependencies: dependencies.md
  - Analysis: ast_summary.md
